<center>
<br>
<br>
<h2>Pythagram</h2>
<h3>Your world in numbers.</h3>
<br>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>User</th>
      <th>When</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <td><h1><%= number.number %></h1></td>
        <td><%= number.description %></td>
        <td><%= number.user %></td>
        <td><%= number.when %></td>
        <td><%= link_to 'Show', number %></td>
        <td><%= link_to 'Edit', edit_number_path(number) %></td>
        <td><%= link_to 'Destroy', number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number', new_number_path %>
</center>
